@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #3e3341;
  --foreground: #d7bedc;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #29222b;
    --foreground: #d7bedc;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-semibold;
  }

  h3 {
    @apply text-2xl font-semibold;
  }

  h4 {
    @apply text-xl font-medium;
  }

  h5 {
    @apply text-lg font-medium;
  }

  h6 {
    @apply text-base font-medium;
  }

  p {
    @apply text-base;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Montserrat', sans-serif;
}
